body {
  background-image: url(../1280x720.jpg);
  display:flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 1px solid #FF0000;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid #FF0000;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:900px;
    padding:5px;
    box-sizing: border-box;
    font-size: 25px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 400px;
}
.titulo{
	background-color: #f00;
	color: white;
	font-size: 36px;
}

.texto{
	margin: 15px;
}

